#doc { width: 100%; padding: 10px; border: 1px solid #ccc; line-height: 0; font-size: 1.5em; }
#submit {margin-left: auto; margin-right: auto; margin-top: 25px; font-size: 1.2em; }
#upload {margin-top: 50px; margin-bottom: 50px; }
body { padding: 25px; }
footer { margin: 40px 0 20px; text-align: center; font-size: 2em;}
#tree {margin-bottom: 25px; }
